:root {
    font-family: "Open Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    --ff-m: "Montserrat", sans-serif;
    --ff-o: "Open Sans", sans-serif;

    --fw-bold: 700;

    --col-white: #ffffff;
    --col-shadow: #00000029;
    --col-grey2: #bebec0;
    --col-heading: #464451;
    --col-grey1: #ababad;
    --col-sky: #5fd5cd;
    --col-pink: #eb6875;
    --col-blue: #199fb2;
    --col-yellow: #eac357;
}

body {
    width: 100%;
}

.h1 {
    font-family: var(--ff-m);
    font-weight: var(--fw-bold);
    color: var(--col-heading);
    font-size: 33px;
    line-height: 1.5;
}

.h2 {
    font-family: var(--ff-m);
    font-weight: var(--fw-bold);
    color: var(--col-heading);
    font-size: 18px;
}

p {
    font-family: var(--ff-o);
    font-weight: var(--ff-bold);
    color: var(--col-grey1);
    font-size: 13px;
    line-height: 1.5;
}

#main {
    margin: auto;
    text-align: center;
}

#rel {
    font-family: var(--ff-m);
    color: var(--col-grey2);
    margin-top: 72px;
    font-size: 33px;
}

#main > .h1 {
    margin-top: 7px;
}

#para-main {
    margin: auto;
    width: 65ch;
    margin-top: 24px;
}

/*------Cards-------*/
#cards {
    margin: auto;
    margin-top: 63px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "a b c1 c d"
        "e c2 c1 c3 f"
        "g c2 c4 c3 h"
        "i j c4 k l";
    gap: 25px 30px;
}

.card {
    padding: 30px 27px;
    border-radius: 5px;
    width: 329px;
    box-shadow: 0px 3px 6px var(--col-shadow);
}

.card > p {
    margin-top: 12px;
    width: 30ch;
}

.card > .img-card {
    margin-top: 63px;
    margin-bottom: 8px;
    text-align: right;
}

#card1 {
    border-top: 5px solid var(--col-pink);
    grid-area: c1;
}

#card2 {
    border-top: 5px solid var(--col-sky);
    grid-area: c2;
}

#card3 {
    border-top: 5px solid var(--col-blue);
    grid-area: c3;
}

#card4 {
    border-top: 5px solid var(--col-yellow);
    grid-area: c4;
}

/*----BreakPoints----*/

@media screen and (max-width: 1110px) {
    #cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "a c1 c2 b"
            "c c1 c2 d"
            "e c3 c4 f"
            "g c3 c4 h";
        gap: 25px 30px;
    }
}

@media screen and (max-width: 750px) {
    #cards {
        margin-bottom: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "a c1 b"
            "c c1 d"
            "e c4 f"
            "g c4 h"
            "i c3 j"
            "k c3 l"
            "m c2 n"
            "o c2 p";
        gap: 19px 0px;
    }
}

@media screen and (max-width: 500px) {
	#cards {
		margin-top: 31px;
	}

    .card {
        width: 313px;
    }

    .h1 {
        margin: auto;
        width: 200px;
        text-align: center;
    }

    #main > .h1 {
        margin-top: 34px;
    }

    .h2 {
        font-size: 16px;
    }

    #rel {
        margin-top: 59px;
        font-size: 30px;
    }

    span {
        display: block;
    }

    #para-main {
        margin-top: 45px;
        width: 300px;
    }

    #cards p {
        font-size: 11px;
    }
}
