:root {
  --col-100: #FF0063;
  --col-200: #B2A4FF;
  --col-300: #513252;
  --col-700: #222222;

  --fw-thin: 200;
  --fw-reg: 400;
  --fw-500: 500;
  --fw-med: 600;
  --fw-bold: 900;
  
  box-sizing: content-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--fw-reg);
  color: var(--col-700);
}

header {
  background: var(--col-200);
  color: white;
  height: 70px;
  padding: 0 25px;
  border-bottom: 2px solid var(--col-300);
}

.nav-primary {
  float: right;
}

h1 {
  float: left;
}

.header-replacement {
  text-indent: -9999px;
  background-image: url("../images/dog-icon.svg");
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin-top: 18px;
}

.nav-list > li {
  display: inline-block;
  padding: 24px 15px;
  font-size: 1.3em;
}

.nav-list > li:hover {
  background: var(--col-100);
  color: white;
  cursor: pointer;
}

.nav-link {
  color: white;
  font-weight: var(--fw-500);
}

/*Hero*/
#hero {
  background: url("../images/park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #825e58;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

#hero h2 {
  font-size: 1.875em;
  font-weight: var(--fw-reg);
  margin-bottom: 25px;
}

#cta-img {
  margin: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 5px solid var(--col-100);
}

/*Buttons primary*/
.btn-primary {
  background-color: white; 
  border: 2px solid var(--col-100);
  color: var(--col-100);
  padding: 7px 12px;
  width: 10ch;
  cursor: pointer;
  font-weight: var(--fw-500);
  border-radius: 2px;
}

.btn-primary:hover {
  background: var(--col-100);
  color: white;
}

/*about section*/
.about-section {
  margin: auto;
  text-align: center;
}

.about-article {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
}

.about-article > h3 {
  font-weight: var(--fw-500);
  font-size: 1.3em;
  color: var(--col-100);
}

.about-article > img {
  border-radius: 50%;
  border: 3px solid var(--col-100);
  height: 200px;
  width: 200px;
  margin: 25px auto;
}

.about-article > p {
  margin-bottom: 40px;
  font-weight: var(--fw-reg);
}

.about-article > .btn-primary {
  color: var(--col-700);
}

.about-article > .btn-primary:hover {
  color: white;
}

/*Footer*/
footer {
  background: var(--col-300);
  color: white;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
}

.footer-list {
  margin: 40px 0;
}

.footer-list > li {
  display: inline-block;
  margin: 0 25px;
}

.footer-link {
  color: white;
  text-decoration: underline;
}

.footer-link:hover {
  color: #92E0E5;
}
